ChessEngine/uci/engine-interface.txt
ChessEngine/bin/Debug/net7.0/appsettings.Development.json
ChessEngine/bin/Debug/net7.0/appsettings.json
ChessEngine/bin/Debug/net7.0/ChessEngine.deps.json
ChessEngine/bin/Debug/net7.0/ChessEngine.dll
ChessEngine/bin/Debug/net7.0/ChessEngine.exe
ChessEngine/bin/Debug/net7.0/ChessEngine.pdb
ChessEngine/bin/Debug/net7.0/ChessEngine.runtimeconfig.json
ChessEngine/obj/ChessEngine.csproj.nuget.dgspec.json
ChessEngine/obj/ChessEngine.csproj.nuget.g.props
ChessEngine/obj/ChessEngine.csproj.nuget.g.targets
ChessEngine/obj/project.assets.json
ChessEngine/obj/project.nuget.cache
ChessEngine/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
ChessEngine/obj/Debug/net7.0/apphost.exe
ChessEngine/obj/Debug/net7.0/ChessEngine.AssemblyInfo.cs
ChessEngine/obj/Debug/net7.0/ChessEngine.AssemblyInfoInputs.cache
ChessEngine/obj/Debug/net7.0/ChessEngine.assets.cache
ChessEngine/obj/Debug/net7.0/ChessEngine.csproj.AssemblyReference.cache
ChessEngine/obj/Debug/net7.0/ChessEngine.csproj.CoreCompileInputs.cache
ChessEngine/obj/Debug/net7.0/ChessEngine.csproj.FileListAbsolute.txt
ChessEngine/obj/Debug/net7.0/ChessEngine.dll
ChessEngine/obj/Debug/net7.0/ChessEngine.GeneratedMSBuildEditorConfig.editorconfig
ChessEngine/obj/Debug/net7.0/ChessEngine.genruntimeconfig.cache
ChessEngine/obj/Debug/net7.0/ChessEngine.GlobalUsings.g.cs
ChessEngine/obj/Debug/net7.0/ChessEngine.MvcApplicationPartsAssemblyInfo.cache
ChessEngine/obj/Debug/net7.0/ChessEngine.pdb
ChessEngine/obj/Debug/net7.0/staticwebassets.build.json
ChessEngine/obj/Debug/net7.0/ref/ChessEngine.dll
ChessEngine/obj/Debug/net7.0/refint/ChessEngine.dll
ChessEngine/obj/Debug/net7.0/staticwebassets/msbuild.build.ChessEngine.props
ChessEngine/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.ChessEngine.props
ChessEngine/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.ChessEngine.props
.vscode/launch.json
ChessEngine.exe_20230826_153026.speedscope.json
ChessEngine/bin/Release/net7.0/appsettings.Development.json
ChessEngine/bin/Release/net7.0/appsettings.json
ChessEngine/bin/Release/net7.0/ChessEngine.deps.json
ChessEngine/bin/Release/net7.0/ChessEngine.dll
ChessEngine/bin/Release/net7.0/ChessEngine.exe
ChessEngine/bin/Release/net7.0/ChessEngine.pdb
ChessEngine/bin/Release/net7.0/ChessEngine.runtimeconfig.json
ChessEngine/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
ChessEngine/obj/Release/net7.0/apphost.exe
ChessEngine/obj/Release/net7.0/ChessEngine.AssemblyInfo.cs
ChessEngine/obj/Release/net7.0/ChessEngine.AssemblyInfoInputs.cache
ChessEngine/obj/Release/net7.0/ChessEngine.assets.cache
ChessEngine/obj/Release/net7.0/ChessEngine.csproj.AssemblyReference.cache
ChessEngine/obj/Release/net7.0/ChessEngine.csproj.CoreCompileInputs.cache
ChessEngine/obj/Release/net7.0/ChessEngine.csproj.FileListAbsolute.txt
ChessEngine/obj/Release/net7.0/ChessEngine.dll
ChessEngine/obj/Release/net7.0/ChessEngine.GeneratedMSBuildEditorConfig.editorconfig
ChessEngine/obj/Release/net7.0/ChessEngine.genruntimeconfig.cache
ChessEngine/obj/Release/net7.0/ChessEngine.GlobalUsings.g.cs
ChessEngine/obj/Release/net7.0/ChessEngine.MvcApplicationPartsAssemblyInfo.cache
ChessEngine/obj/Release/net7.0/ChessEngine.pdb
ChessEngine/obj/Release/net7.0/staticwebassets.build.json
ChessEngine/obj/Release/net7.0/ref/ChessEngine.dll
ChessEngine/obj/Release/net7.0/refint/ChessEngine.dll
ChessEngine/obj/Release/net7.0/staticwebassets/msbuild.build.ChessEngine.props
ChessEngine/obj/Release/net7.0/staticwebassets/msbuild.buildMultiTargeting.ChessEngine.props
ChessEngine/obj/Release/net7.0/staticwebassets/msbuild.buildTransitive.ChessEngine.props
Versions